.abc{
  color:#4caf50;
}
img {
    width: 100%;
    height: auto;
}
#aa{
  color:black;
}
#pnr{
  margin:0 auto;
}
body{
  margin:0;
  background:#f7f7f9;
  background-image: url(../images/american_airlines.jpg);
  background-size: stretch;
  background-repeat: no-repeat;
  background-position: center;
}
.form-control{
  width:500px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 7px;
  /*box-shadow: 0 9px #999;*/
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*for phones */
@media only screen and (min-width : 250px) and (max-width : 667px){
  body{
  margin:0;
  background: #f7f7f9;
  background-image:none;
  }
  .abc{
    margin:0 auto;
    font-size:25px;
    padding:5%;
  }
  .ab{
    margin:0 auto;
  }
  .form-control{
    width:100%;
  }
  .button{
    width:100%;
  }
  #pnr{
    padding: 5%;
    margin-top: 5%;
  }
  label{
    font-size: 20px;
    margin-top: 4%;
  }
  #aa{
  color:black;
}
}
/* for ipads */
@media only screen and (min-width : 668px) and (max-width : 1024px){
  .abc{
    margin:0 auto;
    font-size:25px;
    padding:5%;
  }
  .ab{
    margin:0 auto;
  }
  .form-control{
    width:100%;
  }
  .button{
    width:100%;
  }
  #pnr{
    padding: 5%;
    margin-top: 5%;
  }
  label{
    font-size: 20px;
    margin-top: 4%;
  }


}
